version: '3.7'

services:
  traefik:
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./traefik/traefik.prod.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic/prod:/etc/traefik/dynamic:ro

  app:
    restart: unless-stopped
    environment:
      ENV_MODE: production
    build:
      args:
        - ENV_MODE=production
    command: 'npm run start'

  supabase:
    restart: unless-stopped
